<h1>写真を投稿しました！</h1>

<h4><%= @postconfirm.user.name %>さんの投稿</h4>

<h4>投稿内容</h4>
<p><%= @postconfirm.content %></p>
<p><%= image_tag(@postconfirm.image.url) if @postconfirm.image && @postconfirm.image.url %></p>